// Ephemeral Terminal Window Rule
window-rule {
    match app-id="QuickTerm"
    open-floating true
    default-column-width { fixed 960; }
    default-window-height { fixed 540; }
    draw-border-with-background false
    shadow {
        offset x=0 y=0
        softness 10
        spread 2
        color "{{primary}}AA"
    }
}

binds {
   // Ephemeral Terminal (Refer to 398)
   Super+X hotkey-overlay-title="Quick Ephemeral Terminal" {spawn-sh "~/.personalbin/quickterm";}
}